
<div class="container">
  <div class="row">
    <div class="text-center py-5 px-3">
      <h1>役立つ情報をつぶやいていこう</h1>
    </div>
    <% if user_signed_in? %>
      <div class=col-3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          新規投稿
        </button>
      </div>
    <% end %>
    <div class="col-9 tweets">
      <%= render "tweets", tweets: @tweets %>
    </div>
  </div>
</div>
  
 
  <%= link_to "投稿する", new_tweet_path, class: "btn btn-primary"  %>
 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @tweet, remote: true do |f| %>
        <div class="modal-body">
          <div>
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
           <div class="form-group">
            <%= f.label :content, "内容" %>
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :genre, "生後" %>
            <%= f.select :genre, Tweet.genres.keys.map{|k| [I18n.t("enums.tweet.genre.#{k}"), k]},{prompt:'選択してください'}, class: "form-control" %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

