<div class="container pt-5 mt-5">
  <div class=form-group>
    <%= bootstrap_form_with model: @tweet, local: true do |f|%>
      <%= f.file_field :image %>
    <div class="field">
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.text_area :content %>
    </div>
    <div class="field">
    <%= f.select :genre, Tweet.genres.keys.map{|k| [I18n.t("enums.tweet.genre.#{k}"), k]},{prompt:'選択してください'} %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>