<div class="container">
  <div class="text-center py-5 px-3">
    <div class='tweet-contents'>
      <div class="tweet-block">
        <div class="tweet-nickname">
          <%= @tweet.user.nickname %>
        </div>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <%= link_to "削除", tweet_path(@tweet.id), method: :delete %>
        <% end%>
        <div>
          <%= image_tag @tweet.image, class: "img-fluid img-thumbnail" %>
        </div>
        <div class="tweet-title">
          <%= @tweet.title %>
        </div>
        <div class="tweet-content">
          <%= @tweet.content %></p>
        </div>
        <%= @tweet.genre_i18n %>
        <div>
        <% if user_signed_in? %>
          <% if current_user.already_favorited?(@tweet) %>
            <%= link_to tweet_favorites_path(@tweet), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to tweet_favorites_path(@tweet), method: :create do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
        <%= @tweet.favorites.count %>
        </div>
      </div>
      <% if user_signed_in? %>
      <%= bootstrap_form_with model: [@tweet, @comment], local: true do |f| %>
      <%= f.text_field :text, placeholder: "コメントする" %>
      <%= f.submit "送信", class: "btn btn-primary mt-2" %>
      <% end %>
      <% end %>

      <% @tweet.comments.each do |comment| %>
      <p>
        <%= comment.text %>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
        <% if comment.user == current_user %>
        <%= link_to '削除', [@tweet, comment], method: :delete, class: "btn btn-danger " %>
        <% end %>
      </p>
      <div>
      </div>
      <% end %>
    </div>
  </div>
</div>