<div class= "container pt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>アカウント編集</h2>
      <%= link_to "ログアウト", "#"%>
      <%= link_to "戻る", :back%>
      <%= form_with model: current_user, local: true do |f|%>
        <div class="form-group">
          <%= f.label :nickname, "ユーザー名" %>
          <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= f.label :email%>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= f.label :password%>
          <i>(英数字6文字以上)</i>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <div class='form-group'>
          <%= f.label :profile, "自己紹介文"%>
          <%= f.text_area :profile, class: "form-control" %>
        </div>
        <%= f.submit "update", class: 'btn btn-success'%>
      <% end %>
    </div>
  </div>
</div>