<div class='tweet-contents'>
  <h1 class='title'>みんなの情報</h1>
  <% @tweets.each do |tweet| %>
  <div class="tweet-block">
    <div class="tweet-nickname">
      <%= tweet.user.nickname %>
    </div>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
    <%= link_to "削除", tweet_path(tweet.id), method: :delete %>
    <% end%>
    <%= link_to [tweet] do %>
    <div>
      <%= image_tag tweet.image, class: "img-fluid img-thumbnail" %>
    </div>
    <% end %>
    <div class="tweet-title">
      <%= tweet.title %>
    </div>
    <div class="tweet-content">
      <%= tweet.content %></p>
    </div>
    <%= tweet.genre_i18n %>
    <div>
      <% if current_user.already_favorited?(tweet) %>
        <%= link_to tweet_favorites_path(tweet), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to tweet_favorites_path(tweet), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <%= tweet.favorites.count %>
    </div>
  </div>
  <% end %>

</div>